__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
ENV/
env/
*.md
.DS_Store
train/
test/
fer2013-cnn.ipynb
train_model.py
export_model.py
# saved_model/  # Commented out - we need this for the container
model.tflite
train_history.pkl
*.docx
.idea/
.vscode/

